.vscode/**
.vscode-test/**
.github/**
builds/**
node_modules/**
scripts/**
src/**
!src/assets/icon.png
!src/assets/palette-dark.svg
!src/assets/palette-light.svg
.env*
.gitignore
.yarnrc
.eslintrc*
.oxlintrc*
pnpm-lock.yaml
package-lock.json
yarn.lock
vite.config.*
tsconfig*.json
index.html
colorpicker.html
*.vsix
**/*.map
crop_logo.py